.todo-list {
  &__task-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__active-task {
    margin-bottom: 20px;
  }
  &__completed-task {
    text-decoration: line-through;
  }
}